@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";
@import "card";
@import "button";

@if $td-enable-google-fonts {
    @import url('#{$web-font-path}');
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}

@import "styles_project";


ul.share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20pt;
}

ul.share > li {
    display: block;
    float: left;
    margin-left: 10px;
}

.head-img img{
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    /*考虑浏览器兼容性*/
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}


a.weixin {
	position: relative;
}

.weixin img.qrcode {
	position: absolute;
	z-index: 99;
	top: 40px;
	right: -28px;
	width: 15rem;
	max-width: none;
	height: 15rem;
	transform: scale(0);
	transform-origin: top right;
	opacity: 0;
	border: .3125rem solid #0085ba;
	border-radius: .25rem;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;

}

.weixin:hover img.qrcode {
	transform: scale(1);
	opacity: 1;
}

.wg-hero {
    padding: 3em 0;
    clear: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0s;
    animation-delay: 0.25s;
  }

  .hero-title {
    font-size: 2.7rem;
    margin-top: 0;
    line-height: 1;
  }
  
  .hero-lead {
    max-width: 768px;
    font-size: 1.35rem;
  }
  
  .wg-hero.dark .hero-title,
  .wg-hero.dark .hero-lead,
  .wg-hero.dark .hero-cta-alt,
  .wg-hero.dark .hero-note > * {
    color: #fff;
    /*text-shadow: 1px 1px 4px rgba(0,0,0,0.5);*/ /* Uncomment to standout on complicated backgrounds. */
  }
  
  .wg-hero.dark a:not(.wg-hero .btn) {
    color: #fff;
  }
  
  .wg-hero .hero-lead a {
    text-decoration: underline;
  }
  .wg-hero .btn i{
    line-height: 0;
  }
  .wg-hero .btn {
    padding: .6em 2.1em;
  }

  
  a.hero-cta-alt {
    display: inline-block;
    position: relative;
    transition-duration: .2s;
    transition-property: transform;
    transition-timing-function: ease-out;
    font-size: 1.1rem;
  }
  
  a.hero-cta-alt:active,
  a.hero-cta-alt:focus,
  a.hero-cta-alt:hover {
    transform: scale(1.1);
  }
  
  .wg-hero .btn-lg {
    font-size: 1.1rem;
  }
  
  .wg-hero .hero-note {
    font-size: 0.8rem;
  }
  
  .hero-media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include clearfix();
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    @include transition($carousel-transition);
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next:not(.carousel-item-left),
  .active.carousel-item-right {
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-right),
  .active.carousel-item-left {
    transform: translateX(-100%);
  }
  
  .bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }