<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer" style="margin-top: 30px;">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none"></div>
          <div class="d-none d-xl-block col-xl-3 td-toc d-print-none mt-5">
            {{ partial "toc.html" . }}
            {{ $query := where site.RegularPages "Type" "blog" }}
            {{ $query = sort $query "Date" "desc" }}
            {{ $query = first 5 $query }}    
            <div class="article-widget">
              <div class="hr-light"></div>
              <h5>{{ T "recent" }}</h5>
              <ul>
                {{ range $item := $query}}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
            <hr>
            {{ $related := site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <div class="article-widget">
              <div class="hr-light"></div>
              <h5>{{ T "related" }}</h5>
              <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
            <hr>
            {{ end }}
            <h5>{{ T "categories" }}</h5>
            <div>
              {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
              <a class="button button-primary button-small button-rounded mb-2"
		          href="{{ `categories/` | relLangURL }}{{ $key | urlize | lower }}" style="display: inline-block;">{{ $key }}</a>
              {{ end }}
            </div>
            <hr>
            <h5>{{ T "tags" }}</h5>
            <div>
              {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
              <a class="button button-royal button-small button-rounded mb-2"
		          href="{{ `tags/` | relLangURL }}{{ $key | urlize | lower }}" style="display: inline-block;">{{ $key }}</a>
              {{ end }}
            </div>
          </div>

          <main class="col-12 col-md-6 col-xl-7 pl-md-5 pr-md-4" role="main">
            {{ with .CurrentSection.OutputFormats.Get "rss" -}}
            <a class="button button-glow button-border button-rounded button-primary td-rss-button d-none d-lg-block" href="{{ .Permalink | safeURL }}" target="_blank">
              RSS <i class="fa fa-rss ml-2 "></i>
            </a>
            {{ end -}}
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
          </main>

        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>